.container {
  width: 40vw;
  margin-left: 30vw;
  margin-top: 20vh;
}

.row {
  height: 50px;
  border-bottom: solid 3px #84B6F9;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.key {
  display: inline-block;
  text-align: left;
  color: #84B6F9;
  font-size: 20px;
  font-weight: bold;
}

.val {
  display: inline-block;
  text-align: right;
  color: gray;
  font-size: 30px;
  font-weight: bold;
}

.coins {
  font-size: 20px;
  margin-left: 10px;
  font-weight: normal;
}

.markets {
  margin-top: 5px;
}

.markets th {
  width: 100%;
  background-color: #E0E0E0;
  color: gray;
}

.markets td {
  padding: 5px;
  font-weight: bold;
}
